:root {

    /*color*/
    --color-bg-dark: #555;
    --color-bg-light: #555;
    --color-dark: #555;
    --color-light: #555;
    --color-primary: #555;




    /*distanc*/
    --distance-primary: 50px;
    --margin-primary: var(--distance-primary: 50px);
    --padding-primary: var(--distance-primary: 50px);



    /*font*/
    /**/
    /**/

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}