
.contact-content h2{
    margin:0 0  calc(var(--margin-primary)*1.5) 0;
    font-size: var(--font-size-xxl);
}

.contact-content h4 {
    font-size: var(--font-size-xl);
}
.contact-content a{
    color: var(--color-primary);
    font-size: var(--font-size-m);
}

.socialmedia-section {
    margin: var(--margin-primary) 0;
}

.socialmedia-section p {
    font-size: var(--font-size-l);
    margin: 0;
}


.socialmedia-container a{
    color: var(--color-primary);
    font-size: var(--font-size-xl);
    margin-left: calc(var(--padding-primary)/2);

}

.socialitem:nth-child(1) {
    margin-left: 0;
}

.socialitem:hover {
    color: var(--color-primary);
}