.navbar {
}

nav {
    height: 70px;
}

.navbar-brand {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-l);
    text-transform: capitalize;
}



.nav-container {
    flex-basis: 100%;
    flex-grow: 1;
}

.nav-show {
    display: none;
}

.navbar-nav {
    align-items: center;
}

.nav-item .nav-link {
    color: var(--color-secondary);
    font-size: var(--font-size-m);
    font-weight: 500;
    position: relative;
    padding: 0;
}



.nav-link:before {
    content: "";
    width: 0%;
    height: 2.5px;
    background-color: var(--color-secondary);
    border-radius: 50px;
    position: absolute;
    bottom: -2px;
    left: 0.5rem;
    transition: width .5s ease;
}


.nav-link:hover::before,
.nav-link.active:before {
    content: "";
    width: 50%;
    height: 2.5px;
    border-radius: 50px;

}

.nav-link.active:before {
    background-color: var(--color-primary);
}


.burger-menu {
    cursor: pointer;
    padding: 18px 14px;

}

.nav-icon {
    display: block;
    background-color: var(--color-primary);
    width: 30px;
    height: 3px;
    position: relative;
}


/*nav icon erstellen >>burger line untere*/
.nav-icon::before {
    content: "";
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    top: 7px;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}


/*nav icon erstellen >>burger line top*/
.nav-icon::after {
    content: "";
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    top: -7px;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

.menuactive {
    background-color: transparent;
}

.nav-icon.menuactive::before {
    transform: translateY(-7px) rotate(45deg);
}

.nav-icon.menuactive::after {
    transform: translateY(7px) rotate(-45deg);

}

@media only screen and (max-width: 992px) {
    .nav-container {
        height: calc(100vh - 70px);
    }

    .navbar-nav {
        height: 100%;
        justify-content: space-evenly;
    }

    .nav-link:before {
        left: 0;
    }

}